# A simple configuration file for monitoring the local host
# This can serve as an example for configuring other servers;
# Custom services specific to this host are added here, but services
# defined in nagios2-common_services.cfg may also apply.
# 

define host{
        use                     generic-host            ; Name of host template to use
        host_name               Router
        alias                   Router
        address                 192.168.31.1
        }

# Define a service to check the load on the local machine. 

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       Router
        service_description             Carga del cpu del router
		check_command                   check_load!5.0!4.0!3.0!10.0!6.0!4.0
        }

define service {
	use 				generic-service
	host_name			Router
	service_description		Ancho de banda del router
		check_command		check_bandwith!eth1!15!10!15!17!sta31
}
